List: {{this.list.name}}

<br><br>

{{#each this.list.items as |item|}}
  {{item.name}}<br>
{{/each}}

<hr>

{{#each this.subset as |item|}}
  {{item.name}}<br>
{{/each}}

<br><br>

<button {{on "click" this.addItem}}>Add item</button>