<h1>{{this.list.name}}</h1>

<h2>list.items</h2>

{{#each this.list.items as |item|}}
  {{item.name}}<br>
{{/each}}

<hr>

<h2>Subset of list.items</h2>

{{#each this.subset as |item|}}
  {{item.name}}<br>
{{/each}}

<br><br>

<button {{on "click" this.addItem}}>Add item</button>